.header{
    width: 100%;
    padding: 0 6%;
    height: 200px;
    max-height: 200px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .areaImagem{
        width: 280px;
    }

    .rightArea{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;

        .nav{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 100%;
            margin-right: 100px;

            ul{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                list-style: none;
                height: 100%;

                .item{
                    font-size: 30px;
                    padding-left: 45px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        
        .buttons{
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .linkTelefone{
                display: flex;
                align-items: center;
                color: var(--green);
                margin-right: 50px;

                .icon{
                    width: 30px;
                    font-size: 30px;
                    margin-right: 10px;
                }

                .phoneNumber{
                    font-size: 30px;
                }
            }
        }
    }
}