.header{
    width: 100%;
    padding: 40px 6%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .areaImagem{
        width: 280px;
    }

    .rightArea{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;

        .nav{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 100%;
            margin-right: 100px;

            ul{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                list-style: none;
                height: 100%;

                .item{
                    font-size: 30px;
                    padding: 0 22.5px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--blue);
                    position: relative;
                    text-align: center;

                    &::before{
                        position: absolute;
                        content: '';
                        bottom: -20px;
                        left: 0;
                        width: 0;
                        height: 6px;
                        border-radius: 3px;
                        background: linear-gradient(to right, var(--green), var(--blue));
                        transition: .3s;
                    }

                    &:hover{

                        &::before{
                            width: 100%;                            
                        }
                    }
                }
            }
        }
        
        .buttons{
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .linkTelefone{
                display: flex;
                align-items: center;
                color: var(--green);
                margin-right: 50px;

                .icon{
                    width: 30px;
                    font-size: 30px;
                    margin-right: 10px;
                }

                .phoneNumber{
                    font-size: 30px;
                }
            }
        }
    }

    @media screen and (max-width: 1700px) {
        padding: 20px 6%;

        .areaImagem{
            width: 200px;
        }
        
        .rightArea{

            .nav{
                margin-right: 50px;

                ul{

                    .item{

                        font-size: 25px;
                        padding-left: 20px;
                    }
                }
            }

            .buttons{

                .linkTelefone{
                    margin-right: 20px;

                    .icon{
                        width: 20px;
                        font-size: 20px;
                        margin-right: 10px;
                    }
    
                    .phoneNumber{
                        font-size: 20px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1300px) {

        .areaImagem{
            width: 150px;
        }
        
        .rightArea{

            .nav{
                margin-right: 30px;

                ul{

                    .item{

                        font-size: 20px;
                        padding-left: 20px;
                    }
                }
            }

            .buttons{

                .linkTelefone{
                    margin-right: 16px;

                    .icon{
                        width: 16px;
                        font-size: 16px;
                        margin-right: 10px;
                    }
    
                    .phoneNumber{
                        font-size: 16px;
                    }
                }
                
                .botao{
                    display: none;
                }
            }
        }
    }
    @media screen and (max-width: 1000px) {

        .areaImagem{
            width: 20vw;
        }
        
        .rightArea{

            .nav{
                display: none;
            }

            .buttons{

                .linkTelefone{
                    margin-right: 10px;

                    .icon{
                        width: 14px;
                        font-size: 14px;
                        margin-right: 5px;
                    }
    
                    .phoneNumber{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 500px) {
        .areaImagem{
            width: 40vw;
        }
        .rightArea{

            .buttons{

                .linkTelefone{
                    margin-right: 10px;

                    .icon{
                        width: 18px;
                        font-size: 18px;
                        margin-right: 5px;
                    }
    
                    .phoneNumber{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}