.aside{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
    transition: .3s;
    z-index: 100000;
    pointer-events: none;

    .contentArea{
        display: block;
        position: relative;

        .form{
            background-color: var(--gray);
            min-width: 500px;
            transform: translateX(200%);
            transition: .3s;

            .headerForm{
                background-color: var(--green);
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .title{
                    font-size: 14px;
                    color: var(--white);
                }

                .icon{
                    width: 14px;
                    color: var(--gray);
                    margin-left: 20px;
                    cursor: pointer;
                }
            }
            .contentForm{
                background: #E5E5E5 url('./images/fundo.png');
                padding: 20px;

                .inputs{
                    .groupInput{
                        width: 100%;
                        background-color: #fff;
                        border-radius: 5px 0 5px 5px;
                        border: 1px solid var(--gray);
                        margin-bottom: 10px;
                        padding: 10px 10px;
                        display: none;
                        align-items: center;
                        justify-content: space-between;

                        .areaInput{
                            border-radius:0;
                            background-color: transparent;
                            border: none;
                            margin-bottom: 0;
                            padding: 0;
                            display: flex;
                            width: 49%;
                        }
                        
                        &.active{
                            display: flex;
                        }
                    }

                    .areaInput{
                        width: 100%;
                        border-radius: 5px 0 5px 5px;
                        background-color: #fff;
                        border: 1px solid var(--gray);
                        margin-bottom: 10px;
                        padding: 10px 10px;
                        display: none;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        .label{
                            color: var(--blue);
                            font-weight: bold;
                            width: 100%;
                            font-size: 12px;
                        }

                        .input{
                            width: 100%;
                            height: 30px;
                            background: transparent;
                            border: none;
                            outline: none;
                            color: var(--blue);
                            font-size: 14px;
                            border-bottom: 1px solid var(--blue);

                            &.select{
                                width: auto;
                            }
                        }

                        &.active{
                            display: flex;
                        }
                    }
                }

                .buttons{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    .buttonForm{
                        background-color: var(--green);
                        color: var(--white);
                        height: 30px;
                        padding: 0 40px;
                        border-radius: 0 20px 0 20px;
                        border: none;
                        font-size: 14px;
                        font-weight: bold;
                        margin-left: 10px;
                        cursor: pointer;

                        &.white{
                            background-color: var(--white);
                            color: var(--green);
                        }
                    }
                }
            }
        }

        .button{
            position: relative;
            width: 70px;
            height: 70px;
            background: transparent;
            border: none;
            cursor: pointer;
            transition: .3s;
            float: right;
            pointer-events: all;

            &:hover{
                transform: translateY(-5px);
                filter: brightness(.9);
            }
        }
    }

    &.active{
        background-color: var(--blue25);
        pointer-events: all;
        
        .contentArea{

            .form{

                transform: translateX(0)
            }
        }
    }
}