.section{
    width: 100%;
    padding: 100px 6%;
    background: linear-gradient(to right, #065345, var(--blue));
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .areaLogo{
        position: relative;
        width: 540px;
        margin-right: 170px;
    }

    .areaContent{
        width: 40%;

        h2{
            font-size: 80px;
            color: var(--white);
        }
        p{
            color: var(--white);
            font-size: 22px;
            margin-bottom: 20px;

            strong{
                color: var(--lightGreen);
            }
        }
    }
}