.section{
    width: 100%;
    padding: 100px 6%;
    background: linear-gradient(to right, #065345, var(--blue));
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .areaLogo{
        position: relative;
        width: 540px;
        margin-right: 170px;
    }

    .areaContent{
        width: 40%;

        h2{
            font-size: 80px;
            color: var(--white);
        }
        p{
            color: var(--white);
            font-size: 22px;
            margin-bottom: 20px;

            strong{
                color: var(--lightGreen);
            }
        }
    }

    @media screen and (max-width: 1700px) {
        padding: 50px 6%;

        .areaLogo{
            width: 30%;
            margin-right: 5vw;
        }

        .areaContent{
            width: 60%;
    
            h2{
                font-size: 80px;
            }
            p{
                font-size: 22px;
                margin-bottom: 20px;
            }
        }
    }

    @media screen and (max-width: 1400px) {
        .areaContent{
    
            h2{
                font-size: 40px;
            }
            p{
                font-size: 18px;
            }
        }
    }
    @media screen and (max-width: 1000px) {
        flex-wrap: wrap;

        .areaLogo{
            width: 50%;
            margin: 0;
        }
        .areaContent{
            width: 100%;
            margin-top: 20px;

            h2{
                font-size: 30px;
            }
        }
    }
}