.section{
    width: 100%;
    padding: 100px 6%;
    background-color: #cdd3e1;

    h2{
        color: var(--green);
        font-weight: 700;
        font-size: 55px;
        text-align: center;
    }

    h3{
        font-size: 30px;
        color: var(--green);
        font-weight: 400;
        text-align: center;
    }

    .cardsArea{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-top: 60px;
        margin-bottom: 70px;

        .diferencial{
            text-align: center;
            width: 32%;
            color: var(--blue);

            .areaIcon{
                width: 120px;
                height: 120px;
                background-color: var(--blue);
                border-radius: 50%;
                margin: 0 auto;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon{
                    color: var(--white);
                    width: 60px;
                }
            }

            h4{
                font-size: 20px;
                margin-bottom: -3px;
            }

            P{
                font-size: 20px;
                font-weight: 500;
            }
        }
    }

    .areaButton{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width: 1700px) {
        padding: 50px 6%;

        .cardsArea{
            margin-top: 50px;
            margin-bottom: 50px;
    
            .diferencial{
    
                .areaIcon{
                    width: 80px;
                    height: 80px;
    
                    .icon{
                        width: 50px;
                    }
                }
    
                h4{
                    font-size: 18px;
                }
    
                P{
                    font-size: 18px;
                }
            }
        }
    }
    @media screen and (max-width: 1000px) {
        h2{
            font-size: 40px;
        }
        h3{
            font-size: 26px;
        }
       .cardsArea{
            flex-wrap: wrap;

            .diferencial{
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
                margin-bottom: 20px;
            }
       }
    }

}