.section{
    background: linear-gradient(to right, #065345, var(--blue));
    width: 100%;
    padding: 85px 6%;
    text-align: left;

    h4{
        font-size: 80px;
        text-transform: uppercase;
        color: var(--lightGreen);
        margin: 40px 0;
    }

    h1{
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 60px;
        color: var(--white);
        line-height: 150%;
        
        strong{
            font-weight: 300;
            color: var(--lightGreen);

            strong{
                font-weight: 700;
            }

            &.strongWhite{
                color: var(--white);
                font-weight: 700;
            }
        }
    }
}