.footer{
    width: 100%;
    padding: 50px 6%;
    background-color: var(--white);

    .contentArea{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        .areaLogo{
            width: 200px;
            position: relative;
        }

        .areaInfos{
            display: flex;
            align-items: center;
            justify-content: center;

            .info{
                margin: 0 20px;
                color: var(--blue);
                display: flex;
                align-items: center;
                justify-content: center;

                .icon{
                    width: 20px;
                    margin-right: 5px;
                }

                .align{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start
                }
            }

            button{
                height: 30px;
                padding: 0 10px;
                border: 1px solid var(--green);
                color: var(--green);
                border-radius: 5px;
                background-color: var(--white);
                cursor: pointer;
            }
        }

        .areaRedes{
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .rede{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: var(--blue);
                margin-left: 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon{
                    width: 20px;
                    color: var(--white);
                    cursor: pointer;
                }
            }
        }
    }

    .direitosArea{
        width: 100%;
        text-align: center;
        color: var(--blue);
        font-weight: 700;
    }

    @media screen and (max-width: 1400px) {
        .contentArea{
            flex-wrap: wrap;
    
            .areaLogo{
                width: 100%;
                max-width: 300px;
                margin: 0 auto;
            }
    
            .areaInfos{
                flex-wrap: wrap;
                margin: 40px auto;
                width: 100%;
    
                .info{
                    margin: 0 20px;
                }
            }
    
            .areaRedes{
                justify-content: center;
                width: 100%;
            }
        }
    }
    @media screen and (max-width: 1000px) {
        .contentArea{

            .areaInfos{
    
                .info{
                    width: 100%;
                    margin: 10px 0;
                    justify-content: flex-start;
                }
            }
        }
    }
}