.aside{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--blue25);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s;

    .areaModal{
        background-color: var(--white);
        padding: 50px;
        border-radius: 10px;
        border-radius: 0 10% 0 10%;
        position: relative;

        .closeModal{
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;
    
            .icon{
                color: var(--blue);
                transition: .3s all;
                font-size: 18px;
            }
        }

        .title{
            font-size: 34px;
            font-weight: 600;
            color: var(--green);
        }

        .inputsGroup{
            margin: 20px 0;
            color: var(--green);

            .areaInput{
                width: 100%;
                margin-bottom: 16px;
                min-width: 200px;
    
                .label{
                    width: 100%;
                    display: block;
                    font-size: 16px;
                    color: var(--green);
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                .input{
                    width: 100%;
                    height: 38px;
                    border: 2px solid var(--darkGray);
                    padding: 0 10px;
                    color: var(--darkGray);
                    outline: none;
                    min-width: 200px;

                    &:focus{
                        border: 2px solid var(--green);
                        color: var(--green);
                    }
                }
            }

            .groupInput{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .areaInput{

                    &:first-child{
                        margin-right: 20px;
                    }
                }
            }
            .fieldset{
                border: none;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .legend{
                    width: 100%;
                    display: block;
                    font-size: 18px;
                    color: var(--green);
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .checkbox{
                    margin: 0 20px;
                    padding: 0 10px;
                    border: 1px solid var(--gray);
                    height: 38px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    background-color: var(--white);
                    color: var(--gray);
                    transition: .3s;

                    &:nth-child(2), &:last-child{
                        margin: 0;
                    }

                    &:hover{
                        filter: brightness(.8);
                    }

                    &.active{
                        background-color: var(--green);
                    }
                }
            }
        }
        .button{
            background-color: var(--green);
            color: var(--white);
            height: 30px;
            padding: 0 40px;
            border-radius: 0 20px 0 20px;
            border: none;
            font-size: 14px;
            font-weight: bold;
        }
        .span{
            color: #921818;
            width: 100%;
            height: 40px;
            border: 1px solid #921818;
            background-color: #9218181e;
            border-radius: 0 20px 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }
    }

    &.active{
        opacity: 1;
        pointer-events: all;
    }
    
    @media screen and (max-width: 1700px) {

        .areaModal{
            max-height: 98vh;
            overflow-y: auto;
            border-radius: 0;
            padding: 20px;
            border-radius: 10px;

            .title{
                font-size: 28px;
            }    

            .inputsGroup{
                margin: 10px 0;
            }

            &::-webkit-scrollbar {
                width: 5px;
                background: var(--gray);
                border-radius: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--blue);
                border-radius: 5px;
            }
        }
    }
    @media screen and (max-width: 1000px) {

        .closeModal{
            top: 10px;
            right: 10px;
        }

        .areaModal{
            max-height: auto !important;
            min-height: 100vh !important;
            overflow-y: auto;
            width: 100%;
            height: 100vh;
            border-radius: 0;
            padding: 50px 5%;

            .title{
                font-size: 34px;
            }

            .inputsGroup{
                max-width: 500px;
                margin: 20px 0;
    
                .areaInput{
                    width: 100%;
                    margin-bottom: 16px;
                    min-width: auto;
        
                    .label{
                        font-size: 12px;
                    }

                    .input{
                        min-width: auto;
                    }
                }

                .fieldset{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
    
                    .legend{
                        font-size: 12px;
                    }
    
                    .checkbox{
                        margin: 0 10px;
                        height: 38px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}