
.vaga{
    color: var(--azul);
    margin-bottom: 25px;
    width: 300px;

    .areaImage{
        background-color: var(--white);
       box-shadow: -2px 2px 5px #0000001c;
    }

    h3{
        text-align: left;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .areaImage{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
}