.main{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, var(--green), var(--blue));
    display: flex;
    align-items: center;
    justify-content: center;

    .content{
        width: 40vw;
        text-align: center;

        @media screen and (max-width: 800px) {
            width: 90vw;
        } 

        .topLine{
            width: 200px;
            height: 5px;
            margin: 0 auto;
            background-color: var(--white);
            margin-bottom: 50px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }

        h1{
            margin: 0;
            margin-bottom: 40px;
            color: var(--white);
            font-size: 90px;
        }

        p{
            color: var(--white);
        }
    }
}